run = "pnpm run start"
entrypoint = "app/page.tsx"

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "pnpm install --frozen-lockfile && pnpm run build && pnpm run start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
